<script>
  $(document).ready(function() {
    $('.mark<%= i %>').on('click', function(){
      $('.line<%= i %>').toggleClass('stroked');
    });
  });
</script>

<div class="row clearfix">
  <div class="complete">
    <i class="fa fa-check mark<%= i %>"></i>
  </div>

  <div class="todo_item">
    <p class="line<%= i %>"><%= todo_item.content %></p>
  </div>

  <div class="trash">
    <%= link_to todo_list_todo_item_path(@todo_list, todo_item.id), 
      method: :delete, data: { confirm: "Are you sure?" }  do %>
      <i class="fa fa-trash"></i>
    <% end %>
  </div> 
</div>
